# Node artifacts
node_modules/

# React build output
build/
portfolio-react/build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env files
.env

# OS files
.DS_Store
Thumbs.db

# Editor directories and files
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# Misc
*.log
